In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#resources

import numpy as np
import pandas as pd
import os
import json
import re

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegressionCV, ElasticNetCV


import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\alxra\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alxra\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\alxra\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\alxra\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

# Introduction

## Problem

Daily stock market return data are notoriously difficult to predict and forecast given volatiltity due to many possible predictors and underlying interactions.

## Goal

To predict S&P 500 returns based on news data.

## Data

Predictors:
* Huff Post News Data (https://www.kaggle.com/datasets/rmisra/news-category-dataset)
    * **category**: category in which the article was published.
    * **headline**: the headline of the news article.
    * **authors**: list of authors who contributed to the article.
    * **link**: link to the original news article.
    * **short_description**: Abstract of the news article.
    * **date**: publication date of the article between 2012-01-28 and 2022-09-23

Target:
* S&P500 Data (https://fred.stlouisfed.org/series/SP500)
    * **Returns** (USD) between 2013-06-27 to 2023-06-26


## Methodology

1. Data ETL
2. Data Pre-Processing
3. Text predictor feature extraction
4. Feature engineering
5. Modeling
    * Logistic Regression (baseline prediction)
    * Random Forest Regression (ensemble learner prediction)
    * Autokeras (out-of-the-box neural net prediction)
    * 1D CNN (custom spatio-temportal prediction)
    * LSTM (custom time-series prediction)

# ETL

In [3]:
#predictors
news = []
with open('News_Category_Dataset_v3.json', 'r') as file:
    for line in file:
        news.append(json.loads(line))
news = pd.DataFrame.from_dict(news)

#target
returns = pd.read_csv('SP500.csv')

In [4]:
news.shape
news.head()
news.describe()
news.dtypes

returns.shape
returns.head()
returns.describe()
returns.dtypes

(209527, 6)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

,link,headline,category,short_description,authors,date
count,209527,209527,209527,209527,209527,209527
unique,209486,207996,42,187022,29169,3890
top,https://www.huffingtonpost.comhttps://www.wash...,Sunday Roundup,POLITICS,,,2014-03-25
freq,2,90,35602,19712,37418,100

link                 object
headline             object
category             object
short_description    object
authors              object
date                 object
dtype: object

(2608, 2)

         DATE    SP500
0  2013-06-27  1613.20
1  2013-06-28  1606.28
2  2013-07-01  1614.96
3  2013-07-02  1614.08
4  2013-07-03  1615.41

              DATE SP500
count         2608  2608
unique        2608  2504
top     2013-06-27     .
freq             1    92

DATE     object
SP500    object
dtype: object

In [5]:
# cast date columns as datetime types
news['date'] = pd.to_datetime(news['date'])

returns['DATE'] = pd.to_datetime(returns['DATE'])

In [6]:
# cast returns column as float
returns['SP500'] = pd.to_numeric(returns['SP500'], errors='coerce')

returns.dtypes

DATE     datetime64[ns]
SP500           float64
dtype: object

Making a decision to drop authors and link as predictors. Authors write on certain topics and do not work indefinitely for the company, the links are based on the titles; there is a co-effect or colinearity between category and author, and description/title and link so we try to reduce multicollinearity right away.

In [16]:
data = news[['date', 'category', 'headline', 'short_description']]

#map target to predictors using date
di = dict(zip(returns.DATE, returns.SP500))

data['returns'] = data['date'].map(di)

data

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4242162910.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['returns'] = data['date'].map(di)

,date,category,headline,short_description,returns
0,2022-09-23,U.S. NEWS,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,3693.23
1,2022-09-23,U.S. NEWS,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,3693.23
2,2022-09-23,COMEDY,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha...",3693.23
3,2022-09-23,PARENTING,The Funniest Tweets From Parents This Week (Se...,"""Accidentally put grown-up toothpaste on my to...",3693.23
4,2022-09-22,U.S. NEWS,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,3757.99
...,...,...,...,...,...
209522,2012-01-28,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,Verizon Wireless and AT&T are already promotin...,NaN
209523,2012-01-28,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,"Afterward, Azarenka, more effusive with the pr...",NaN
209524,2012-01-28,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...","Leading up to Super Bowl XLVI, the most talked...",NaN
209525,2012-01-28,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,CORRECTION: An earlier version of this story i...,NaN
209526,2012-01-28,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,The five-time all-star center tore into his te...,NaN

In [17]:
#drop any rows with empty values in the target column
data = data[data['returns'].notna()]
data

,date,category,headline,short_description,returns
0,2022-09-23,U.S. NEWS,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,3693.23
1,2022-09-23,U.S. NEWS,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,3693.23
2,2022-09-23,COMEDY,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha...",3693.23
3,2022-09-23,PARENTING,The Funniest Tweets From Parents This Week (Se...,"""Accidentally put grown-up toothpaste on my to...",3693.23
4,2022-09-22,U.S. NEWS,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,3757.99
...,...,...,...,...,...
161346,2013-06-27,STYLE & BEAUTY,Cheryl Cole's Style Evolution: From Cornrows T...,Cheryl Cole's path to fame wasn't exactly ordi...,1613.20
161347,2013-06-27,TRAVEL,Three of Europe's Most Hedonistic Cities: Part...,"Paris brings us back again and again, season a...",1613.20
161348,2013-06-27,WELLNESS,Anxiety Tied To Sleep Deprivation,"""It's been hard to tease out whether sleep los...",1613.20
161349,2013-06-27,FOOD & DRINK,Mac And Cheese Creations: Over The Top And Com...,You can add this dish to just about everything.,1613.20
161350,2013-06-27,WELLNESS,Stopping to Recognize Live-Out-Loud Joy as You...,"When I look back now, did I stop to recognize ...",1613.20

In [18]:
#sanity check date range after drop
data.date.min()
data.date.max()

Timestamp('2013-06-27 00:00:00')

Timestamp('2022-09-23 00:00:00')

In [19]:
#add a combined corpus column to test as a feature downstream

data['corpus'] = data['headline'] + ' ' + data['short_description']
data.head()

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\793595985.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['corpus'] = data['headline'] + ' ' + data['short_description']

,date,category,headline,short_description,returns,corpus
0,2022-09-23,U.S. NEWS,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,3693.23,Over 4 Million Americans Roll Up Sleeves For O...
1,2022-09-23,U.S. NEWS,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,3693.23,"American Airlines Flyer Charged, Banned For Li..."
2,2022-09-23,COMEDY,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha...",3693.23,23 Of The Funniest Tweets About Cats And Dogs ...
3,2022-09-23,PARENTING,The Funniest Tweets From Parents This Week (Se...,"""Accidentally put grown-up toothpaste on my to...",3693.23,The Funniest Tweets From Parents This Week (Se...
4,2022-09-22,U.S. NEWS,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,3757.99,Woman Who Called Cops On Black Bird-Watcher Lo...

# Pre-Processing

In [20]:
#Remove emojis and unicode chars
#fxn from https://stackoverflow.com/questions/33404752/removing-emojis-from-a-string-in-python

def deEmojify(text):
    regex = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regex.sub(r'',text)


def deSymbolify(text):
    regex = re.compile('[^a-zA-Z]')
    return regex.sub(r'', text)


def dataframe_preprocess(col):
    #tokenize into a new column
    data[f'tokens_{col}'] = data[col].apply(nltk.word_tokenize)

    #remove stop words
    stopword = stopwords.words('english')
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [item for item in x if item not in stopword])

    #remove symbols, non-ascii, digits, and too long and too short tokens
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [deSymbolify(word) for word in x])
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if word.isascii()==True])
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if not any(ch.isdigit() for ch in word)])
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) > 4])
    data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) < 12])
    
    #add stemmed corpus column
    stemmer = SnowballStemmer("english")
    data[f'stemmed_{col}'] = data[f'tokens_{col}'].apply(lambda x: [stemmer.stem(y) for y in x])
    
    #add lemmatized corpus
    wnl = WordNetLemmatizer()
    data[f'lemmatized_{col}'] = data[f'tokens_{col}'].apply(lambda x: [wnl.lemmatize(y) for y in x])

In [21]:
#text pre-processing for NLP use

for col in ['category', 'headline', 'short_description', 'corpus']:
    #Convert to lowercase
    data[col] = data[col].str.lower()

    #remove punctuation
    data[col] = data[col].str.replace('[^\w\s]','')

    #get rid of unicode chars and any emojis
    data[col] = data[col].apply(deEmojify)
    
    #tokenize, stem, and lemmatize 
    ## choice to not pre-process the category further as the values are usually unigrams or bigrams max
    if col != 'category':
        dataframe_preprocess(col)

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.lower()
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].apply(deEmojify)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[col].apply(nltk.word_tokenize)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [item for item in x if item not in stopword])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [deSymbolify(word) for word in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if word.isascii()==True])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if not any(ch.isdigit() for ch in word)])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) > 4])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) < 12])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'stemmed_{col}'] = data[f'tokens_{col}'].apply(lambda x: [stemmer.stem(y) for y in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'lemmatized_{col}'] = data[f'tokens_{col}'].apply(lambda x: [wnl.lemmatize(y) for y in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.lower()
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].apply(deEmojify)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[col].apply(nltk.word_tokenize)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [item for item in x if item not in stopword])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [deSymbolify(word) for word in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if word.isascii()==True])

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if not any(ch.isdigit() for ch in word)])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) > 4])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) < 12])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'stemmed_{col}'] = data[f'tokens_{col}'].apply(lambda x: [stemmer.stem(y) for y in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'lemmatized_{col}'] = data[f'tokens_{col}'].apply(lambda x: [wnl.lemmatize(y) for y in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.lower()
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.replace('[^\w\s]','')
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\2471050337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].apply(deEmojify)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[col].apply(nltk.word_tokenize)
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [item for item in x if item not in stopword])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [deSymbolify(word) for word in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if word.isascii()==True])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if not any(ch.isdigit() for ch in word)])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) > 4])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'tokens_{col}'] = data[f'tokens_{col}'].apply(lambda x: [word for word in x if len(word) < 12])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'stemmed_{col}'] = data[f'tokens_{col}'].apply(lambda x: [stemmer.stem(y) for y in x])
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\4088668066.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'lemmatized_{col}'] = data[f'tokens_{col}'].apply(lambda x: [wnl.lemmatize(y) for y in x])

In [22]:
#clean up redundant categories

data.category.value_counts()

di = {'food  drink': 'food drink',
      'style  beauty': 'style',
      'the worldpost': 'worldpost',
      'arts  culture': 'culture',
      'culture  arts': 'culture',
      'home  living': 'home living'
     }

data.category.replace(di, inplace=True)

data.category.value_counts()

politics          26524
entertainment     11117
wellness           6092
healthy living     5163
travel             4168
queer voices       3523
parents            3495
comedy             3239
black voices       3238
parenting          3238
business           3144
sports             3133
women              3037
food  drink        2692
world news         2411
style  beauty      2390
media              2340
the worldpost      2180
impact             2106
crime              2021
weird news         1949
green              1800
style              1695
religion           1675
taste              1626
home  living       1354
worldpost          1253
arts  culture      1197
divorce            1163
tech               1150
good news          1112
weddings           1039
arts                995
science             967
latino voices       964
college             866
us news             863
fifty               796
education           701
money               298
environment          66
culture  arts        49
Name: category, dtype: int64

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\560650356.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.category.replace(di, inplace=True)

politics          26524
entertainment     11117
wellness           6092
healthy living     5163
travel             4168
style              4085
queer voices       3523
parents            3495
worldpost          3433
comedy             3239
parenting          3238
black voices       3238
business           3144
sports             3133
women              3037
food drink         2692
world news         2411
media              2340
impact             2106
crime              2021
weird news         1949
green              1800
religion           1675
taste              1626
home living        1354
culture            1246
divorce            1163
tech               1150
good news          1112
weddings           1039
arts                995
science             967
latino voices       964
college             866
us news             863
fifty               796
education           701
money               298
environment          66
Name: category, dtype: int64

In [23]:
#split date predictor into elementary components

data['year'] = data['date'].dt.year 
data['month'] = data['date'].dt.month 
data['day'] = data['date'].dt.day

data.head()

C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\252692635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['date'].dt.year
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\252692635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['date'].dt.month
C:\Users\alxra\AppData\Local\Temp\ipykernel_6712\252692635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['date'].dt.day

,date,category,headline,short_description,returns,corpus,tokens_headline,stemmed_headline,lemmatized_headline,tokens_short_description,stemmed_short_description,lemmatized_short_description,tokens_corpus,stemmed_corpus,lemmatized_corpus,year,month,day
0,2022-09-23,us news,over 4 million americans roll up sleeves for o...,health experts said it is too early to predict...,3693.23,over 4 million americans roll up sleeves for o...,"[million, americans, sleeves, covid, boosters]","[million, american, sleev, covid, booster]","[million, american, sleeve, covid, booster]","[health, experts, early, predict, whether, dem...","[health, expert, earli, predict, whether, dema...","[health, expert, early, predict, whether, dema...","[million, americans, sleeves, covid, boosters,...","[million, american, sleev, covid, booster, hea...","[million, american, sleeve, covid, booster, he...",2022,9,23
1,2022-09-23,us news,american airlines flyer charged banned for lif...,he was subdued by passengers and crew when he ...,3693.23,american airlines flyer charged banned for lif...,"[american, airlines, flyer, charged, banned, p...","[american, airlin, flyer, charg, ban, punch, f...","[american, airline, flyer, charged, banned, pu...","[subdued, passengers, aircraft, according, att...","[subdu, passeng, aircraft, accord, attorney, o...","[subdued, passenger, aircraft, according, atto...","[american, airlines, flyer, charged, banned, p...","[american, airlin, flyer, charg, ban, punch, f...","[american, airline, flyer, charged, banned, pu...",2022,9,23
2,2022-09-23,comedy,23 of the funniest tweets about cats and dogs ...,until you have a dog you dont understand what ...,3693.23,23 of the funniest tweets about cats and dogs ...,"[funniest, tweets]","[funniest, tweet]","[funniest, tweet]","[understand, could, eaten]","[understand, could, eaten]","[understand, could, eaten]","[funniest, tweets, understand, could, eaten]","[funniest, tweet, understand, could, eaten]","[funniest, tweet, understand, could, eaten]",2022,9,23
3,2022-09-23,parenting,the funniest tweets from parents this week sep...,accidentally put grownup toothpaste on my todd...,3693.23,the funniest tweets from parents this week sep...,"[funniest, tweets, parents]","[funniest, tweet, parent]","[funniest, tweet, parent]","[grownup, toothpaste, toddlers, toothbrush, sc...","[grownup, toothpast, toddler, toothbrush, scre...","[grownup, toothpaste, toddler, toothbrush, scr...","[funniest, tweets, parents, grownup, toothpast...","[funniest, tweet, parent, grownup, toothpast, ...","[funniest, tweet, parent, grownup, toothpaste,...",2022,9,23
4,2022-09-22,us news,woman who called cops on black birdwatcher los...,amy cooper accused investment firm franklin te...,3757.99,woman who called cops on black birdwatcher los...,"[woman, called, black, birdwatcher, loses, law...","[woman, call, black, birdwatch, lose, lawsuit,...","[woman, called, black, birdwatcher, loses, law...","[cooper, accused, investment, franklin, temple...","[cooper, accus, invest, franklin, templeton, u...","[cooper, accused, investment, franklin, temple...","[woman, called, black, birdwatcher, loses, law...","[woman, call, black, birdwatch, lose, lawsuit,...","[woman, called, black, birdwatcher, loses, law...",2022,9,22

after manually reviewing records, choice to choose lemmatized over stemmed pre-processed text data to avoid nonsensical stems. also choosing to used a combined corpus per record rather than separate headline, short_description to limit the size of text vectors (avoid out of memory errors).

### build actionable dataframe from data

In [57]:

df = data[['returns', 'year', 'month', 'day', 'category', 
           'lemmatized_headline', 'lemmatized_short_description', 'lemmatized_corpus']].copy(deep=True)

#join tokens back together for final corpus
for col in ['lemmatized_headline', 'lemmatized_short_description', 'lemmatized_corpus']:
    df[col] = df[col].str.join(" ")
    
df

,returns,year,month,day,category,lemmatized_headline,lemmatized_short_description,lemmatized_corpus
0,3693.23,2022,9,23,us news,million american sleeve covid booster,health expert early predict whether demand wou...,million american sleeve covid booster health e...
1,3693.23,2022,9,23,us news,american airline flyer charged banned punching...,subdued passenger aircraft according attorney ...,american airline flyer charged banned punching...
2,3693.23,2022,9,23,comedy,funniest tweet,understand could eaten,funniest tweet understand could eaten
3,3693.23,2022,9,23,parenting,funniest tweet parent,grownup toothpaste toddler toothbrush screamed...,funniest tweet parent grownup toothpaste toddl...
4,3757.99,2022,9,22,us news,woman called black birdwatcher loses lawsuit e...,cooper accused investment franklin templeton u...,woman called black birdwatcher loses lawsuit e...
...,...,...,...,...,...,...,...,...
161346,1613.20,2013,6,27,style,cheryl cole style evolution cornrows couture p...,cheryl cole wasnt exactly ordinary winning gir...,cheryl cole style evolution cornrows couture p...
161347,1613.20,2013,6,27,travel,three europe hedonistic city paris,paris brings season season,three europe hedonistic city paris paris bring...
161348,1613.20,2013,6,27,wellness,anxiety sleep deprivation,tease whether sleep simply byproduct anxiety w...,anxiety sleep deprivation tease whether sleep ...
161349,1613.20,2013,6,27,food drink,cheese creation completely amazing,everything,cheese creation completely amazing everything
161350,1613.20,2013,6,27,wellness,stopping recognize liveoutloud youre living,recognize moment moment would treasure aware l...,stopping recognize liveoutloud youre living re...

In [58]:
#drop duplicate records
df.drop_duplicates(inplace=True)

In [59]:
#create full text field as ML corpus
df['corpus'] = df['category'] + ' ' + df['lemmatized_corpus']

In [60]:
#train test 80:20 split

df_train = df.sample(frac=0.80)
df_test = df.drop(df_train.index)

In [61]:
#one hot encode the category predictor
enc = OneHotEncoder(handle_unknown='infrequent_if_exist') #if a category arises that is not present in training, add to infrequent category

enc.fit(df_train.category.to_numpy().reshape(-1, 1))

#transform train and test separately
df_train['category_enc'] = list(np.array(enc.transform(df_train.category.to_numpy().reshape(-1, 1)).todense()))
df_test['category_enc'] = list(np.array(enc.transform(df_test.category.to_numpy().reshape(-1, 1)).todense()))

df_train = df_train[['returns', 'year', 'month', 'day', 'category_enc', 'corpus']]
df_test = df_test[['returns', 'year', 'month', 'day', 'category_enc', 'corpus']]

OneHotEncoder(handle_unknown='infrequent_if_exist')

In [62]:
df_train.shape
df_train.head()

df_test.shape
df_test.head()

(95042, 6)

,returns,year,month,day,category_enc,corpus
116711,1994.65,2014,10,30,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",good news watch college student sink shot
60793,2173.60,2016,7,29,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",impact delaying birth increase newborn death c...
51738,2139.56,2016,11,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",politics trump cross path nemesis campaign fin...
133272,1879.55,2014,4,22,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",green nuclear science promote sustainable deve...
64596,2077.99,2016,6,16,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",business boston could eventually gigantic welc...

(23760, 6)

,returns,year,month,day,category_enc,corpus
3,3693.23,2022,9,23,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",parenting funniest tweet parent grownup toothp...
5,3757.99,2022,9,22,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",us news cleaner bathroom found police yearold ...
10,3789.93,2022,9,21,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",world news world captain rainbow armband qatar...
21,3899.89,2022,9,19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",politics biden force would defend taiwan china...
25,3899.89,2022,9,19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",us news family american afghanistan freed tali...

# Text Feature Extraction

TF-IDF is used as the feature extraction for a few reasons:

1. bag of words will not capture the higher dimension interaction space of tokens and n-grams
2. word2vec and BERT are great for ANN applications and large corpuses. This is a rather small corpus in the NLP world and the goal is not necessarily to train a neural network over simpler model types, so large embedding spaces are not a hard requirement for this task.

Choice to vectorize as unigrams in order to avoid MemoryErrors.

In [82]:
#train validation 80:20 split

df_training = df_train.sample(frac=0.80)
df_val = df_train.drop(df_training.index)

df_training.head()
df_val.head()

,returns,year,month,day,category_enc,corpus
161281,1613.20,2013,6,27,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",weddings reason married recently engaged money...
102061,2081.18,2015,4,17,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",green pedal earlier obama unveiled blueprint c...
52365,2111.72,2016,11,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",entertainment shonda rhimes formation stellar ...
96000,2102.31,2015,6,25,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",healthy living ethic glutenfree might argued m...
90144,1972.18,2015,8,31,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",tech ashley madison claim signing completely user

,returns,year,month,day,category_enc,corpus
133272,1879.55,2014,4,22,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",green nuclear science promote sustainable deve...
33201,2433.79,2017,6,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",politics james comey would rather dinner donal...
151375,1692.56,2013,10,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",wellness discovery would suggest discovery sev...
8474,2759.82,2018,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",world news woman connected mother teresa chari...
146406,1800.90,2013,12,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",wellness possible birth control work blocking ...

In [95]:
# create master training corpus
corpus = (df_train['corpus']).to_list()

len(corpus)

95042

In [96]:
#TF-IDF vectorization
#strip any remaining unicode characters and set n-gram range
tfidf = TfidfVectorizer(strip_accents='unicode', ngram_range=(1,1), use_idf=True)
fit_tfidf = tfidf.fit(corpus)

In [97]:
#fit TFIDF to vectorize training and validation sets

vectors_train = fit_tfidf.transform(df_training['corpus'].to_list())
vectors_val = fit_tfidf.transform(df_val['corpus'].to_list())

In [98]:
#sanity check
pd.DataFrame(vectors_train[0].T.todense(), index=tfidf.get_feature_names_out(), columns=["tfidf"])

           tfidf
aaaaaah      0.0
aaaargh      0.0
aaand        0.0
aakayla      0.0
aakomon      0.0
...          ...
zwirner      0.0
zwirners     0.0
zylka        0.0
zyrtec       0.0
zzzzzzgah    0.0

[50548 rows x 1 columns]

In [110]:
X_train = vectors_train.toarray()
X_val = vectors_val.toarray()
y_train = df_training['returns'].to_numpy()
y_val = df_val['returns'].to_numpy()

tfidf.vocabulary_ #justincase

### Apply feature extractions to test set based on trained tfidf

In [111]:
df_test.head()

,returns,year,month,day,category_enc,corpus
3,3693.23,2022,9,23,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",parenting funniest tweet parent grownup toothp...
5,3757.99,2022,9,22,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",us news cleaner bathroom found police yearold ...
10,3789.93,2022,9,21,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",world news world captain rainbow armband qatar...
21,3899.89,2022,9,19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",politics biden force would defend taiwan china...
25,3899.89,2022,9,19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",us news family american afghanistan freed tali...

In [105]:
test_corpus = df_test['corpus'].to_list()

len(test_corpus)

23760

In [106]:
vectors_test = fit_tfidf.transform(df_test['corpus'].to_list())

X_test = vectors_test.toarray()
y_test = df_test['returns'].to_numpy()

# Feature Engineering

How do the non corpus predictors fare in a penalized regression to predict S&P returns?

In [29]:
# correlation
df_train.corr().style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1).set_precision(2)

C:\Users\alxra\AppData\Local\Temp\ipykernel_21012\4172150398.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_train.corr().style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1).set_precision(2)
C:\Users\alxra\AppData\Local\Temp\ipykernel_21012\4172150398.py:2: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df_train.corr().style.background_gradient(cmap='coolwarm', vmin=-1, vmax=1).set_precision(2)

year is highly correlated with S&P returns, but month and day are not. This may indicate that date is not sufficient to predict returns alone

In [121]:
df_train[['year', 'month', 'day']].to_numpy()

array([[2014,   10,   30],
       [2016,    7,   29],
       [2016,   11,    8],
       ...,
       [2016,    8,    1],
       [2019,    9,   12],
       [2015,    4,    9]], dtype=int64)

In [127]:
## date features
# ElasticNet (L1, L2) regression with 10 fold cross validation

regr = ElasticNetCV(cv=10, random_state=47)
regr.fit(df_training[['year', 'month', 'day']].to_numpy(), y_train)

#validate - coef of determination R2
regr.score(df_val[['year', 'month', 'day']].to_numpy(), y_val)

#test - coef of determination R2
regr.score(df_test[['year', 'month', 'day']].to_numpy(), y_test)

ElasticNetCV(cv=10, random_state=47)

0.8226728807944109

0.8181590873887096

In [142]:
np.concatenate([df_training[['year', 'month', 'day']].to_numpy(), df_training['category_enc'].to_list()], axis=1)

array([[2.013e+03, 6.000e+00, 2.700e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.015e+03, 4.000e+00, 1.700e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.016e+03, 1.100e+01, 1.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.014e+03, 1.200e+01, 5.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.015e+03, 8.000e+00, 3.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.015e+03, 2.000e+00, 2.700e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

Using date parts alone, an elastic net regression that regularizes predictors by shrinkage predicts on the validation and test datasets with a Coefficient of Determination at ~ 0.82 regarding the input date features

In [138]:
##categorical onehot encoding

# ElasticNet (L1, L2) regression with 10 fold cross validation

regr = ElasticNetCV(cv=10, random_state=47)
regr.fit(df_training['category_enc'].to_list(), y_train)

#validate - coef of determination R2
regr.score(df_val['category_enc'].to_list(), y_val)

#test - coef of determination R2
regr.score(df_test['category_enc'].to_list(), y_test)

ElasticNetCV(cv=10, random_state=47)

0.1806686235894004

0.17709845285778514

Using categorical onehot encoding alone is insufficient for predicting S&P returns

In [144]:
##date and categorical onehot encoding together

# ElasticNet (L1, L2) regression with 10 fold cross validation

regr = ElasticNetCV(cv=10, random_state=47)
regr.fit(np.concatenate([df_training[['year', 'month', 'day']].to_numpy(), df_training['category_enc'].to_list()], axis=1), y_train)

#validate - coef of determination R2
regr.score(np.concatenate([df_val[['year', 'month', 'day']].to_numpy(), df_val['category_enc'].to_list()], axis=1), y_val)

#test - coef of determination R2
regr.score(np.concatenate([df_test[['year', 'month', 'day']].to_numpy(), df_test['category_enc'].to_list()], axis=1), y_test)

ElasticNetCV(cv=10, random_state=47)

0.8228182848974891

0.8183309715701851

Using date parts together with the categorical encoding does not help to improve predictor performance given regularization.

# Predictive Models

In [ ]:
#logistic regression - using a cross validation regressor for a warm start

In [ ]:
#random forest regression - using a cross validation regressor for a warm start

In [ ]:
#autokeras

In [ ]:
#1D CNN

In [ ]:
#LSTM