In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#resources

import pandas as pd
import os
import json

# Introduction

## Problem

Daily stock market return data are notoriously difficult to predict given volatiltity due to many possible predictors and underlying interactions.

## Goal

To predict S&P 500 returns based on news data.

## Data

Predictors:
* Huff Post News Data (https://www.kaggle.com/datasets/rmisra/news-category-dataset)
    * **category**: category in which the article was published.
    * **headline**: the headline of the news article.
    * **authors**: list of authors who contributed to the article.
    * **link**: link to the original news article.
    * **short_description**: Abstract of the news article.
    * **date**: publication date of the article.

Target:
* S&P500 Data (https://fred.stlouisfed.org/series/SP500)
    * **Returns** (USD) between

## Methodology

1. Data ETL
2. Data Pre-Processing
3. Text predictor feature extraction (TF-IDF, BERT)
4. Feature engineering
5. Modeling
    * Logistic Regression (baseline prediction)
    * Random Forest Regression (ensemble learner prediction)
    * Autokeras (out-of-the-box neural net prediction)
    * 1D CNN (custom spatio-temportal prediction)
    * LSTM (custom time-series prediction)

# ETL

In [11]:
#predictors
news = []
with open('News_Category_Dataset_v3.json', 'r') as file:
    for line in file:
        news.append(json.loads(line))
news = pd.DataFrame.from_dict(news)

#target
returns = pd.read_csv('SP500.csv')

In [15]:
news.shape
news.head()
news.describe()
news.dtypes

returns.shape
returns.head()
returns.describe()
returns.dtypes

(209527, 6)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

,link,headline,category,short_description,authors,date
count,209527,209527,209527,209527,209527,209527
unique,209486,207996,42,187022,29169,3890
top,https://www.huffingtonpost.comhttps://www.wash...,Sunday Roundup,POLITICS,,,2014-03-25
freq,2,90,35602,19712,37418,100

link                 object
headline             object
category             object
short_description    object
authors              object
date                 object
dtype: object

(2608, 2)

         DATE    SP500
0  2013-06-27  1613.20
1  2013-06-28  1606.28
2  2013-07-01  1614.96
3  2013-07-02  1614.08
4  2013-07-03  1615.41

              DATE SP500
count         2608  2608
unique        2608  2504
top     2013-06-27     .
freq             1    92

DATE     object
SP500    object
dtype: object

Making a decision to drop authors as a predictor because vectorization/embedding of a name as a text feature using the methods described in the introduction does not make sense to use as a feature. Authors write on certain topics and do not work indefinitely for the company, there is a co-effect or colinearity between category and author so to reduce multicollinearity right away.

In [ ]:
data = news[['date', 'link', ]]

#trim redundancies off the link strings

# Pre-Processing

In [ ]:
#continuous variable scaling

In [ ]:
#text pre-processing

# Text Feature Extraction

In [ ]:
#TF-IDF vectorization

In [ ]:
#BERT embeddings

# Feature Engineering

In [ ]:
# lasso regression

In [ ]:
# ridge regression

# Predictive Models

In [ ]:
#logistic regression

In [ ]:
#random forest regression

In [ ]:
#autokeras

In [ ]:
#1D CNN

In [ ]:
#LSTM